.header__mode .header__lightmode,
.header__mode .header__darkmode, .header__container .header__nav, .header__container .header__logo {
  display: flex;
  align-items: center;
}

.header__container .header__nav-link {
  color: #fff;
  font-size: 1.8rem;
}

.project__breadcrumb {
  color: #3758f9;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.6rem;
}

.hero__title {
  color: #fff;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.8rem;
}

.project__title {
  color: #111928;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.8rem;
}

.hero__description {
  color: #fff;
  font-size: 1.8rem;
  line-height: 2.6rem;
}

.project__description {
  color: #637381;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.hero__button {
  background-color: #fff;
  color: #3758f9;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  padding: 1rem 2.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

.header,
.hero {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #3758f9;
  font-family: Inter, sans-serif;
}

html {
  font-size: 62.5%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}
.header__container {
  display: flex;
  width: 40%;
  justify-content: space-between;
}
.header__container .header__logo {
  gap: 20px;
}
.header__container .header__logo-image {
  width: 36px;
  filter: brightness(0) saturate(100%) invert(98%) sepia(17%) saturate(0%) hue-rotate(259deg) brightness(99%) contrast(105%);
}
.header__container .header__logo-text {
  font-family: poppins, sans-serif;
  color: #fff;
  font-size: 2.6rem;
  font-weight: 500;
}
.header__container .header__nav-list {
  display: flex;
  gap: 20px;
}
.header__container .header__nav-link {
  -webkit-text-decoration: underline 0.2rem transparent;
          text-decoration: underline 0.2rem transparent;
  text-underline-offset: 0.4rem;
  transition: -webkit-text-decoration 0.2s;
  transition: text-decoration 0.2s;
  transition: text-decoration 0.2s, -webkit-text-decoration 0.2s;
  cursor: pointer;
}
.header__container .header__nav-link:hover {
  text-decoration-color: #fff;
}
.header__mode {
  display: flex;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.12);
  padding: 5px;
}
.header__mode .header__lightmode,
.header__mode .header__darkmode {
  border-radius: 4px;
  padding: 8px 18px;
  gap: 6px;
  cursor: pointer;
  color: #637381;
  fill: #637381;
}
.header__mode .header__lightmode-text,
.header__mode .header__darkmode-text {
  font-family: Inter, sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.2rem;
}
.header__mode .active {
  background-color: #f9fafb;
  color: #3758f9;
  fill: #3758f9;
}

.hero {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.hero__title {
  text-align: center;
  margin-top: 110px;
}
.hero__description {
  text-align: center;
  margin-top: 20px;
}
.hero__button {
  margin-top: 40px;
  align-self: center;
}
.hero .hero__example-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  position: relative;
  width: 100%;
}
.hero__example {
  display: table-cell;
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  border-radius: 13px 13px 0 0;
}
.hero__dot-grid--tleft, .hero__dot-grid--tright {
  position: absolute;
}
.hero__dot-grid--tright {
  top: -25px;
  right: -25px;
}
.hero__dot-grid--tleft {
  bottom: 5px;
  left: -40px;
}

.project {
  background-color: #fff;
}/*# sourceMappingURL=style.css.map */