@use '../tools/all' as utils

.contact
  background-color: utils.$color-light
  padding-top: 12rem
  padding-bottom: 12rem

  @media screen and (max-width: 1000px)
    padding-top: 8rem
    padding-bottom: 8rem

  @media screen and (max-width: 600px)
    padding-top: 0
    padding-bottom: 8rem

  &__flux
    display: flex

    @media screen and (max-width: 1000px)
      flex-wrap: wrap

  &__container-texts
    width: 60%
    padding-right: 8%

    @media screen and (max-width: 1000px)
      width: 100%
      padding-right: 0
      text-align: center

    .contact__breadcrumb
      @extend %text-breadcrumb
      margin-bottom: 0.8rem

    .contact__title
      @extend %text-mid-title
      margin-bottom: 1.2rem

    .contact__description
      @extend %text-mid-content
      margin-bottom: 5rem

  &__wrapper
    @media screen and (max-width: 1000px)
      display: flex
      justify-content: space-around

    @media screen and (max-width: 600px)
      flex-direction: column

  &__icon
    display: flex
    gap: 2.4rem
    margin-bottom: 3.5rem

    &-container
      padding: 2rem
      border-radius: 0.5rem
      background-color: rgba(55, 88, 249, 0.05)

  &__type
    @extend %text-breadcrumb
    color: utils.$color-title
    margin-bottom: 1rem

    &-content
      @extend %text-mid-content

  &__container-form
    width: 39%
    position: relative

    @media screen and (max-width: 1300px)
      margin-right: 4rem

    @media screen and (max-width: 1000px)
      width: 70%
      margin-top: 5rem
      margin-left: auto
      margin-right: auto

  &__form
    display: flex
    flex-direction: column
    gap: 2.5rem
    border-radius: 0.8rem
    background-color: utils.$color-light
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.07)
    padding: 5rem
    position: relative
    z-index: 1

    &-input,
    &-button
      border-radius: 0.6rem
      font-family: Inter

    &-input
      @extend %text-mid-content
      border: 1px solid #dfe4ea
      padding: 1.2rem 1.6rem 1.2rem 2rem

      &::placeholder
        @extend %text-mid-content

      &:focus,
      &:focus-visible
        border: 1px solid utils.$color-main
        outline: none

      &--message
        resize: none
        height: 13rem
        line-height: 2.4rem

    &-button
      border: 1px solid utils.$color-main
      background-color: utils.$color-main
      font-weight: 500
      font-size: 1.6rem
      line-height: 2.4rem
      color: utils.$color-light
      padding: 1.2rem 1.6rem
      cursor: pointer
      @extend %transition-button

      &:hover,
      &:focus
        outline: none
        border: 1px solid darken(utils.$color-main, 40%)
        background-color: darken(utils.$color-main, 40%)

  &__circle-icon
    position: absolute
    top: -5rem
    right: -5rem
    z-index: 0

  &__dot-grid-tright
    position: absolute
    top: 6.5rem
    right: -4rem

  &__dot-grid-bleft
    position: absolute
    bottom: -4rem
    left: -2.5rem

    @media screen and (max-width: 1160px)
      bottom: -1.5rem

    @media screen and (max-width: 1125px)
      bottom: 1rem

    @media screen and (max-width: 1045px)
      bottom: 3rem

    @media screen and (max-width: 1000px)
      bottom: -4rem
      left: -2.5rem

  @media screen and (max-width: 1000px)
    &__container-form
      width: 100%

    &__circle-icon,
    &__dot-grid-tright,
    &__dot-grid-bleft
      display: none

    &__form
      box-shadow: none
      width: 100%