@use '../tools/all' as utils

.header
  display: flex
  justify-content: space-between
  padding-top: 25px
  animation: 0.75s ease-in-out 0s 1 slideFromTop

  &__container
    display: flex
    width: 40%
    justify-content: space-between

    .header__logo
      @extend %flex-align-center
      gap: 20px

      &-image
        width: 36px
        filter: brightness(0) saturate(100%) invert(98%) sepia(17%) saturate(0%) hue-rotate(259deg) brightness(99%) contrast(105%)

      &-text
        @extend %text-logo

    .header__nav
      @extend %flex-align-center

      &-list
        display: flex
        gap: 20px

      &-link
        @extend %text-header-link
        text-decoration: underline 0.2rem transparent
        text-underline-offset: 0.4rem
        transition: text-decoration 0.2s
        cursor: pointer

        &:hover
          text-decoration-color: utils.$color-light

  &__mode
    display: flex
    background-color: utils.$color-light
    border-radius: 6px
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.12)
    padding: 5px

    .header__lightmode,
    .header__darkmode
      @extend %flex-align-center
      border-radius: 4px
      padding: 8px 18px
      gap: 6px
      cursor: pointer
      color: utils.$color-text
      fill: utils.$color-text

      &-text
        font-family: Inter, sans-serif
        font-size: 1.4rem
        font-weight: 500
        line-height: 2.2rem

    .active
      background-color: #f9fafb
      color: utils.$color-main
      fill: utils.$color-main