@use '../tools/all' as utils

.project
  background-color: utils.$color-light
  padding-top: 12rem
  position: relative
  z-index: 1

  @media screen and (max-width: 600px)
    padding-top: 8rem

  &__container-texts
    width: 46%
    @extend %flex-justify-center

    @media screen and (max-width: 1100px)
      width: 80%

  &__breadcrumb
    @extend %text-breadcrumb
    text-align: center
    padding-bottom: 0.8rem

  &__title
    @extend %text-mid-title
    text-align: center
    padding-bottom: 1.2rem

  &__description
    @extend %text-mid-content
    text-align: center
    margin-bottom: 6rem 

  &__container-cards
    display: flex
    justify-content: space-between

    @media screen and (max-width: 1000px)
      flex-wrap: wrap

  &__card
    width: 32%
    @extend %flex-align-center
    flex-direction: column

    @media screen and (max-width: 1000px)
      width: 48%
      flex-wrap: wrap

    @media screen and (max-width: 700px)
      width: 100%

    &-texts
      @extend %flex-align-center
      flex-direction: column
      transform: translateY(-50%)
      background-color: utils.$color-light
      padding: 3.4rem 9rem
      border-radius: 0.8rem
      width: 88%
      text-align: center
      box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08)

      @media screen and (max-width: 1250px)
        padding: 2rem 5rem
    
    &-tech
      @extend %text-card-content
      margin-bottom: 0.6rem

    &-title
      @extend %text-card-title
      margin-bottom: 2rem

    &-button
      @extend %button-mid

    &-image
      border-radius: 1rem
      width: 100%