@use './variables' as var

%flex-align-center
  display: flex
  align-items: center

%flex-justify-center
  display: flex
  flex-direction: column
  margin-left: auto
  margin-right: auto

// Texte extends
%text-logo
  font-family: poppins, sans-serif
  color: var.$color-light
  font-size: 2.6rem
  font-weight: 500

%text-header-link
  color: var.$color-light
  font-size: 1.8rem

%text-breadcrumb
  color: var.$color-main
  font-size: 1.8rem
  font-weight: 600
  line-height: 2.6rem

%text-card-title
  color: var.$color-title
  font-size: 2rem
  font-weight: 700
  line-height: 2.4rem

%text-card-content
  color: var.$color-main
  font-size: 1.4rem
  font-weight: 500
  line-height: 2.2rem

%text-big-title
  color: var.$color-light
  font-size: 4.8rem
  font-weight: 700
  line-height: 5.8rem

%text-mid-title
  color: var.$color-title
  font-size: 4rem
  font-weight: 700
  line-height: 4.8rem

%text-big-content
  color: var.$color-light
  font-size: 1.8rem
  line-height: 2.6rem

%text-mid-content
  color: var.$color-text
  font-size: 1.6rem
  line-height: 2.4rem

%text-footer-container
  color: var.$color-text-dark
  font-size: 1.6rem
  line-height: 2.4rem

// Bouttons
%button-big
  background-color: var.$color-light
  border: 1px solid var.$color-light
  color: var.$color-main
  border-radius: 0.6rem
  font-size: 1.8rem
  font-weight: 500
  line-height: 2.6rem
  padding: 1.3rem 2.8rem
  @extend %transition-button

  &:hover,
  &:focus
    outline: none
    background: none
    border: 1px solid var.$color-light
    color: var.$color-light

%button-mid
  border: 1px solid #dfe4ea
  border-radius: 0.6rem
  color: var.$color-text
  font-size: 1.6rem
  font-weight: 500
  line-height: 2.4rem
  padding: 1rem 2.8rem
  @extend %transition-button

  &:hover,
  &:focus
    background-color: var.$color-main
    border: 1px solid var.$color-main
    color: var.$color-light
    outline: none

// Transitions
%transition-footer
  transition: all 0.05s ease-out

%transition-button
  transition: all 0.12s ease-out