@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  border-width: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
}

button {
  font-family: Roboto, sans-serif;
}

html {
  font-size: 62.5%;
}

.content__title, .faq__title, .services__title {
  font-size: 5.6rem;
  font-weight: 800;
  line-height: 6rem;
  color: #0F172A;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .content__title, .faq__title, .services__title {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.5rem;
  }
}

.quote__text, .faq__question-title {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.8rem;
}
@media screen and (max-width: 1000px) {
  .quote__text, .faq__question-title {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.8rem;
  }
}

.features__card-title, .hero__button,
.content__button,
.services__button {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.4rem;
}

.content__accordion-title, .quote__footer-text-strong {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.2rem;
  color: #0F172A;
}

.hero__desc, .features__card-text, .content__info, .content__accordion-info, .quote__footer-text, .faq__answers, .services__info {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.8rem;
  color: #0F172A;
}
@media screen and (max-width: 700px) {
  .hero__desc, .features__card-text, .content__info, .content__accordion-info, .quote__footer-text, .faq__answers, .services__info {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2rem;
  }
}

.footer__item-title, .header__list-dropdown, .header__connection, .header__sublist-item {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
}

.footer__item-link, .footer__copyright {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
  color: #475569;
}

.logo, .faq__question, .footer__container-socials, .services__container-images, .features__card, .hero__presentation, .hero__container-images, .header__nav, .header__list, .header__list-item, .header__list-dropdown, .header__connection {
  display: flex;
  align-items: center;
}

.services, .faq, .testimonials__wrapper, .content, .features {
  padding: 8rem 0;
}
@media screen and (max-width: 1000px) {
  .services, .faq, .testimonials__wrapper, .content, .features {
    padding: 4.8rem 0;
  }
}

.content__accordion-info, .faq__answers {
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}

.features {
  border-top: 1px solid #E2E8F0;
  background: linear-gradient(180deg, #F1F5F9 0%, rgba(255, 255, 255, 0) 100%);
}

.testimonials,
.services {
  background-color: #F1F5F9;
}

.flux {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1280px) {
  .flux {
    width: calc(100% - 32px);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem;
  border-bottom: 1px solid #E2E8F0;
}
.header__list-item {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
}
.header__list-dropdown {
  color: #0F172A;
  margin-right: 2rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  transition: all 0.12s ease-in-out;
}
.header__list-dropdown:hover {
  background-color: #94A3B8;
}
.header__list-arrow {
  padding-left: 0.8rem;
}
.header__burger {
  display: none;
}
.header__connection {
  display: flex;
  gap: 1.6rem;
}
.header__connection-login, .header__connection-signup {
  padding: 1.2rem 2.8rem;
  border-radius: 0.8rem;
}
.header__connection-login {
  color: #2563EB;
  border: 1px solid transparent;
  transition: all 0.12s ease-in-out;
}
@media screen and (min-width: 1200px) {
  .header__connection-login:hover {
    border: 1px solid #2563EB;
  }
}
.header__connection-signup {
  color: #fff;
  background-color: #2563EB;
  transition: all 0.12s ease-in-out;
  transition: all 0.12s ease-in-out;
}
@media screen and (min-width: 1200px) {
  .header__connection-signup:hover {
    background-color: #0e3b9c;
  }
}

@media screen and (max-width: 1050px) {
  .header__list, .header__connection-signup {
    display: none;
  }
  .header__connection-login {
    color: #fff;
    background-color: #2563EB;
    border: none;
  }
  .header__connection-login:hover {
    background-color: #0e3b9c;
    border: none;
  }
  .header__burger {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 2.4rem;
    cursor: pointer;
  }
}
@media screen and (max-width: 500px) {
  .header__connection {
    display: none;
  }
  .header__burger {
    margin: 0;
  }
}
.header__sublist {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  padding-top: 0.5rem;
  transition: all 0.12s ease-in-out;
}
.header__sublist-item {
  padding-top: 0.3rem;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
  border-radius: 0.4rem;
  transition: all 0.12s ease-in-out;
}
.header__sublist-item:hover {
  background-color: #94A3B8;
}

.hero {
  display: flex;
  margin-top: 8rem;
  margin-bottom: 8rem;
}
@media screen and (max-width: 1000px) {
  .hero {
    margin-top: 4.8rem;
    margin-bottom: 4.8rem;
    flex-direction: column;
    gap: 3.2rem;
  }
}
.hero__container-texts, .hero__container-images {
  width: 50%;
}
@media screen and (max-width: 1000px) {
  .hero__container-texts, .hero__container-images {
    width: 100%;
  }
}
.hero__container-texts {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding-right: 4rem;
}
@media screen and (max-width: 1000px) {
  .hero__container-texts {
    padding-right: 0;
  }
}
.hero__button-wrapper {
  display: flex;
  gap: 1rem;
}
.hero__presentation {
  gap: 1.5rem;
}
.hero__container-images {
  justify-content: center;
  padding-left: 4rem;
}
@media screen and (max-width: 1000px) {
  .hero__container-images {
    padding-left: 0;
  }
}
.hero__phone-mockup {
  position: absolute;
}
@media screen and (max-width: 1000px) {
  .hero__phone-mockup {
    position: relative;
    height: 410px;
  }
}

.features {
  margin-top: 12rem;
}
@media screen and (max-width: 1000px) {
  .features {
    margin-top: 4.8rem;
  }
}
.features__cards-wrapper {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1000px) {
  .features__cards-wrapper {
    flex-direction: column;
    gap: 8rem;
  }
}
.features__card {
  flex-direction: column;
  text-align: center;
  width: 31%;
  gap: 1.6rem;
}
@media screen and (max-width: 1000px) {
  .features__card {
    width: 100%;
  }
}
.features__card-texts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.content__title {
  margin-bottom: 2.4rem;
}
.content__info {
  margin-bottom: 8rem;
}
@media screen and (max-width: 1000px) {
  .content__info {
    margin-bottom: 3.2rem;
  }
}
.content__wrapper {
  display: flex;
}
@media screen and (max-width: 1000px) {
  .content__wrapper {
    align-items: center;
    flex-direction: column;
  }
}
.content__container-images, .content__container-texts {
  width: 50%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .content__container-images, .content__container-texts {
    width: 100%;
  }
}
.content__container-images {
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  .content__container-images {
    margin-bottom: 3.2rem;
  }
  .content__container-images svg {
    position: absolute;
    max-width: 90%;
    z-index: 0;
  }
}
.content__phone-mockup {
  position: absolute;
  translate: 10%;
  scale: 0.95;
}
@media screen and (max-width: 1000px) {
  .content__phone-mockup {
    position: relative;
    max-width: 90%;
  }
}
.content__marge {
  margin-top: 16rem;
}
@media screen and (max-width: 1000px) {
  .content__marge {
    margin-top: 9.6rem;
  }
}
.content__button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 8rem;
}
@media screen and (max-width: 1000px) {
  .content__button {
    display: none;
  }
}

.testimonials__wrapper {
  display: flex;
}
@media screen and (max-width: 1000px) {
  .testimonials__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
  }
}
.testimonials__container-images, .testimonials__container-texts {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
@media screen and (max-width: 1000px) {
  .testimonials__container-images, .testimonials__container-texts {
    width: 100%;
    justify-content: center;
  }
}
.testimonials__container-images {
  margin-right: 4rem;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .testimonials__container-images {
    margin-right: 0;
  }
}
.testimonials__user {
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .testimonials__user {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .testimonials__user {
    width: 75%;
  }
}
.testimonials__container-texts {
  margin-left: 4rem;
}
@media screen and (max-width: 1000px) {
  .testimonials__container-texts {
    text-align: center;
    margin-left: 0;
    display: block;
  }
}
.testimonials__user-frame {
  position: absolute;
  right: -4.8rem;
  top: 4.8rem;
}
@media screen and (max-width: 1000px) {
  .testimonials__user-frame {
    display: none;
  }
}
.testimonials__nav {
  margin-top: 4.8rem;
}
@media screen and (max-width: 1000px) {
  .testimonials__nav {
    display: flex;
    justify-content: center;
    margin-top: 3.2rem;
  }
}

.quote__text {
  margin: 1.6rem 0;
}

.secondTEST {
  display: none;
}

.activeCarousel {
  display: flex;
}

.faq__title {
  margin-bottom: 8rem;
}
@media screen and (max-width: 1000px) {
  .faq__title {
    margin-bottom: 3.2rem;
  }
}

.services__wrapper {
  display: flex;
}
@media screen and (max-width: 1000px) {
  .services__wrapper {
    flex-direction: column;
  }
}
.services__container-texts, .services__container-images {
  width: 50%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  .services__container-texts, .services__container-images {
    width: 100%;
  }
}
.services__container-texts {
  flex-direction: column;
  gap: 2.4rem;
  padding-right: 4rem;
}
@media screen and (max-width: 1000px) {
  .services__container-texts {
    padding-right: 0;
  }
}
.services__button {
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 1000px) {
  .services__button {
    margin-left: auto;
    margin-right: auto;
  }
}
.services__container-images {
  position: relative;
  padding-left: 4rem;
}
@media screen and (max-width: 1000px) {
  .services__container-images {
    padding-left: 0;
  }
  .services__container-images svg {
    position: absolute;
    max-width: 90%;
    z-index: 0;
  }
}
.services__phone-mockup {
  position: absolute;
  scale: 0.95;
}
@media screen and (max-width: 1000px) {
  .services__phone-mockup {
    position: relative;
    max-width: 90%;
  }
}
.services__frame-wrapper {
  position: absolute;
  display: flex;
  height: 130px;
  gap: 0.8rem;
  left: 5rem;
}
@media screen and (max-width: 1000px) {
  .services__frame-wrapper {
    display: none;
  }
}

.footer__list {
  display: flex;
  justify-content: space-between;
  padding: 4.8rem 0;
  border-bottom: 1px solid #E2E8F0;
}
@media screen and (max-width: 1000px) {
  .footer__list {
    flex-direction: column;
    align-items: center;
  }
}
.footer__item {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1000px) {
  .footer__item {
    padding-bottom: 3.2rem;
  }
}
.footer__item-title, .footer__item-link {
  margin: 1.2rem 0;
}
.footer__container-socials {
  justify-content: space-between;
  padding-top: 4.8rem;
  padding-bottom: 2.4rem;
}
@media screen and (max-width: 1000px) {
  .footer__container-socials {
    flex-direction: column;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    gap: 1.6rem;
  }
}
.footer__socials {
  display: flex;
  gap: 1.6rem;
}

@media screen and (max-width: 1000px) {
  .footer__item:last-child {
    padding-bottom: 0;
  }
}
.hero__button,
.content__button,
.services__button {
  background-color: #2563EB;
  color: #fff;
  padding: 2rem 4.8rem;
  border-radius: 0.8rem;
  transition: all 0.12s ease-in-out;
}
@media screen and (min-width: 1200px) {
  .hero__button:hover,
  .content__button:hover,
  .services__button:hover {
    background-color: #0e3b9c;
  }
}

@media screen and (max-width: 1000px) {
  .hero__button-wrapper {
    justify-content: space-evenly;
    align-items: center;
  }
  .hero__button,
  .hero__presentation {
    padding: 1.2rem 2.8rem;
  }
}
.hero__presentation {
  color: #2563EB;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.4rem;
  padding: 2rem 4.8rem;
  border-radius: 0.8rem;
}
@media screen and (max-width: 1000px) {
  .hero__presentation {
    font-size: 1.6rem;
    line-height: 2.4;
    font-weight: 500;
    padding: 1.2rem 2.8rem;
  }
}
.hero__presentation-icon {
  width: 2.4rem;
  height: 2.4rem;
}
@media screen and (min-width: 1200px) {
  .hero__presentation:hover {
    outline: 1px solid #2563EB;
  }
}

.hero__title {
  font-size: 7.2rem;
  font-weight: 800;
  line-height: 7.9rem;
  color: #0F172A;
}

@media screen and (max-width: 1000px) {
  .hero__title,
  .hero__desc {
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  .hero__title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.4rem;
  }
}
.features__card-title {
  color: #0F172A;
}
.content__info {
  text-align: center;
}
.testimonials__title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  color: #475569;
}

.quote__text {
  color: #0F172A;
}
.quote__open, .quote__close {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.5rem;
}
@media screen and (max-width: 1000px) {
  .quote__open, .quote__close {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.8rem;
  }
}
.quote__open {
  color: #EAB308;
}
.quote__close {
  color: #EF4444;
}
.quote__footer-text {
  line-height: normal;
}
.faq__question-title {
  color: #2563EB;
}
.services__title {
  text-align: left;
}
@media screen and (max-width: 1000px) {
  .services__title {
    text-align: center;
  }
}
@media screen and (max-width: 1000px) {
  .services__info {
    text-align: center;
  }
}

.footer__item-title {
  color: #475569;
}
@media screen and (max-width: 1000px) {
  .footer__item-title {
    text-align: center;
  }
}
@media screen and (max-width: 1000px) {
  .footer__item-link {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__item .footer__item-link:hover {
    color: #030405;
  }
}
.hero__circle {
  width: 85%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  display: flex;
  background-image: radial-gradient(closest-side, #dbeafe, rgba(219, 234, 254, 0));
}
@media screen and (max-width: 1000px) {
  .hero__circle {
    position: absolute;
    width: 50%;
    min-width: 330px;
  }
}

@media screen and (min-width: 1200px) {
  .content__container-images svg,
  .services__container-images svg {
    transition: all 0.3s ease;
  }
  .content__container-images:hover svg,
  .services__container-images:hover svg {
    scale: 1.05;
  }
}
.icon__features-wrap {
  display: flex;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 100%;
  padding: 1.5rem;
  background-color: #EF4444;
}
.icon__features-wrap--yellow {
  background-color: #EAB308;
}
.icon__features-wrap--blue {
  background-color: #2563EB;
}
.icon__features-border {
  border: 2px dashed;
  border-radius: 100%;
  position: absolute;
  width: 101%;
  height: 101%;
}
.icon__features-border--red {
  border-color: #EF4444;
  bottom: 3px;
  left: -8px;
}
.icon__features-border--yellow {
  border-color: #EAB308;
  bottom: 3px;
  right: -8px;
}
.icon__features-border--blue {
  border-color: #2563EB;
  top: 3px;
  right: -8px;
}

.testimonials__arrow {
  width: 4.8rem;
  height: 4.8rem;
  fill: #94A3B8;
}
@media screen and (max-width: 1000px) {
  .testimonials__arrow {
    display: none;
  }
}

.content__accordion {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.content__accordion-tab {
  padding: 0.8rem 0 0.8rem 4.8rem;
  border-left: 3px solid #CBD5E1;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;
}
.content__accordion-tab.active .content__accordion-info {
  height: 115px;
  padding-top: 2.4rem;
}
.content__accordion-tab.active {
  border-left: 3px solid #2563EB;
}
.faq__question {
  justify-content: space-between;
  padding: 3.2rem 0;
  cursor: pointer;
}
.faq__question-wrapper {
  border-top: 1px solid #E2E8F0;
}
.faq__question-wrapper.active .faq__answers {
  height: 60px;
  padding-bottom: 3.2rem;
}
.faq__question-wrapper.active .faq__question-arrow {
  transform: rotate(180deg);
}
.testimonials__nav-list {
  display: flex;
  gap: 0.8rem;
}
.testimonials__nav-item {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 10px;
  background-color: #94A3B8;
}
.testimonials__nav-item.active {
  background-color: #2563EB;
  width: 3.2rem;
}

.testimonials__user-frame,
.services__phone-frame {
  padding: 0.8rem;
  border-radius: 1rem;
  background-color: #fff;
  box-sizing: border-box;
  outline: 2px dashed #EF4444;
  outline-offset: -2px;
}

.logo {
  margin-right: 4.5rem;
  color: #2563EB;
  fill: #2563EB;
}
.logo-icon {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1.5rem;
}
.logo-text {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.5rem;
}/*# sourceMappingURL=main.css.map */