@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: "GeneralSans-Variable";
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
    src:
      url("../fonts/GeneralSans-Variable.woff2") format("woff2"),
      url("../fonts/GeneralSans-Variable.woff") format("woff");
  }
}

.textLarge {
  @apply text-lg leading-26 font-semibold;
}

.textNav {
  @apply text-base leading-5 text-textColors-navPrimary font-medium;
}

.buttonPrimary {
  @apply font-medium text-sm leading-6 text-textColors-primary focus:outline-none focus:ring-2 focus:ring-accentColor-yellow/60 ring-offset-2 ring-offset-headerBack;
}

.buttonContact {
  @apply flex gap-2 items-center text-textColors-contactPrimary text-sm px-4 py-2 bg-buttonColor-backgroundTransparent border border-buttonColor-borderTransparent md:hover:border-accentColor-yellow/60 transition-colors duration-200 rounded-md focus:outline-none focus:ring-2 focus:ring-accentColor-yellow/60 ring-offset-2 ring-offset-headerBack;
}

.titleLarge {
  @apply font-semibold text-2xl sm:text-3xl text-textColors-primary;
}

.textMedium {
  @apply text-sm sm:text-base font-medium text-textColors-secondary leading-snug tracking-wide;
}

.badgePrimary {
  @apply text-base leading-snug text-accentColor-100 py-1 px-4 rounded-full bg-accentColor-10 border border-accentColor-100 inline-block relative overflow-hidden backdrop-blur-sm after:absolute after:inset-0 after:animate-shiny-badge-slide after:bg-accentColor-100/10;
}

.badgeSkill {
  @apply p-1.5 bg-accentColor-10 border border-accentColor-100 rounded relative overflow-hidden backdrop-blur-sm after:absolute after:inset-0 after:animate-shiny-badge-slide after:bg-accentColor-100/10;
}

.side-mask {
  mask-image: linear-gradient(
    to right,
    transparent,
    #0d0d0d 25%,
    #0d0d0d 75%,
    transparent
  );
}

.line__child {
  @apply w-5 h-0.5 bg-white rounded-lg absolute origin-[50%_50%_0px];
  left: calc(50% -20px / 2);
}

@keyframes shiny-badge-slide {
  0% {
    transform: translateX(-110%) skew(-16deg);
  }
  15%,
  to {
    transform: translateX(110%) skew(-16deg);
  }
}

.after\:animate-shiny-badge-slide:after {
  content: "";
  display: inline-block;
  animation: shiny-badge-slide 7s infinite;
}

@keyframes marquee {
  to {
    transform: translate(-100%);
  }
}

.animate-marquee {
  animation: marquee 35s linear infinite;
}

/* <nav class="hidden md:flex md:gap-20 lg:gap-56 xl:gap-80"> */

.line__top {
  top: calc(23% - 2px / 2);
}

.line__top.active {
  transform: rotate(-45deg);
  top: calc(50% - 2px / 2);
  border-radius: 40% / 400%;
}

.line__middle {
  top: calc(50% - 2px / 2);
}

.line__middle.active {
  transform: rotate(45deg);
  border-radius: 40% / 400%;
}

.line__bottom {
  top: calc(76.92307692307695% - 2px / 2);
}

.line__bottom.active {
  transform: rotate(45deg);
  top: calc(50% - 2px / 2);
  border-radius: 40% / 400%;
}

::selection {
  background-color: #6919ffe6;
}

.js-scroll-animation {
  opacity: 0;
}

.show {
  @apply animate-slideTop opacity-100;
}

@layer utilities {
  .card-wrapper::before {
    background: conic-gradient(
      from 180deg at 50% 50%,
      #6919ff 0deg,
      #e62be9 112.5deg,
      #ccfa02a6 228.75deg,
      #2b2b2b 360deg
    );

    @apply absolute left-[-50%] top-[-50%] h-[200%] w-[200%] xl:left-[-25%] xl:top-[-25%] lg:left-[-50%] lg:top-[-40%] lg:h-[200%] xl:h-[150%] lg:w-[200%] xl:w-[150%] animate-border-spin content-[''] opacity-0 duration-300;
  }

  .card-wrapper::before:hover {
    background: conic-gradient(
      rgba(244, 114, 182, 0.4) 0deg,
      rgba(192, 132, 252, 0.4) 0deg,
      transparent 80deg
    );

    @apply absolute left-[-50%] top-[-50%] h-[200%] w-[200%] xl:left-[-25%] xl:top-[-25%] lg:left-[-50%] lg:top-[-40%] lg:h-[200%] xl:h-[150%] lg:w-[200%] xl:w-[150%] animate-border-spin content-[''] opacity-100;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #6919ffd5 #2b2b2b;
}

.nav__active {
  @apply bottom-0 h-0.5 overflow-hidden absolute w-4 rounded-lg bg-white group-hover:w-6 left-[calc(50%-16px/2)] group-hover:left-[calc(50%-22px/2)] transition-all duration-300;
  box-shadow: rgba(255, 255, 255, 0.04) 0px -0.636953px 0.891735px 0px, rgba(255, 255, 255, 0.12) 0px -1.9316px 2.70425px 0px, rgba(255, 255, 255, 0.318) 0px -5.10612px 7.14857px 0px, rgb(255, 255, 255) 0px -16px 22.4px 0px;
}

.nav__item--mobile.active {
  @apply pl-2 text-white;
}

.nav__active--mobile {
  @apply rounded-lg bg-white h-4 w-0.5 absolute;
  box-shadow: rgba(255, 255, 255, 0.03) 0.711334px 0px 0.569067px 0px, rgba(255, 255, 255, 0.082) 1.93715px 0px 1.54972px 0px, rgba(255, 255, 255, 0.176) 4.25329px 0px 3.40263px 0px, rgba(255, 255, 255, 0.392) 9.44132px 0px 7.55306px 0px, rgb(255, 255, 255) 24px 0px 19.2px 0px;
  left: unset;
  bottom: calc(50% - 16px / 2);
}